/*seccion menu*/
#logo{
	width: 20%;
}
.navbar{
	background-color: white;
	color:black;
	border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a{
	color: #ff3800;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: black;
}

.navbar-inverse .navbar-toggle{
	background-color: #ff3800;
	color: black;
	border-color: transparent;
}